<p id="notice"><%= notice %></p>

<h1>Environments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
<!--  <th>Git hub release</th>
      <th>Db url</th>
      <th>Db user</th>-->
    </tr>
  </thead>

  <tbody>
    <% @environments.each do |environment| %>
      <tr>
        <td><a href="<%= environment.url %>"><%= environment.name %></a></td>
        <td><%= environment.version %></td>
<!--        <td><%= environment.git_hub_release %></td>
        <td><%= environment.db_url %></td>
        <td><%= environment.db_user %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

