<p id="notice"><%= notice %></p>

<h1>Environments</h1>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Version</th>
      <th/>
<!--      <th>Db url</th>
      <th>Db user</th>-->
    </tr>
  </thead>

  <tbody>
    <% @environments.each do |environment| %>
      <tr>
        <td align="left"><a href="<%= environment.url %>"><%= environment.name %></a></td>
        <td align="left"><%= environment.version %></td> 
        <td>
          <% if environment.git_hub_release.present? %> 
             (<a href="<%= environment.git_hub_release %>">release notes</a>)
          <% end %>
       </td>
<!--        <td><%= environment.db_url %></td>
        <td><%= environment.db_user %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

